/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');

body {
    background-color: beige;
    margin: 0;
}

h1 {
    font-size: 110%;
}

header {
    background-color: rgb(194, 232, 247);
}

header a {
    text-decoration: none;
    color: black;
}

header p {
    text-align: center;
    font-family: 'Averia Gruesa Libre', sans-serif;
}

#navbar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    font-family: 'Averia Gruesa Libre', sans-serif;
}